{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "plugins": ["import", "jsx-a11y", "react", "react-hooks"],
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"]
      }
    ],
    "import/newline-after-import": "off",
    "eol-last": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-associated-control": "off",
    "no-console": "off",
    "no-debugger": "error",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "settings": {
    "import/extensions": [".js", ".jsx"]
  }
}
